@model eTicaretSitesi.MvcWebUI.Models.sepet

<li class="nav-item">
    <a class="nav-link" href="/sepet/Index">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        <span id="cart-summary-count">(@Model.sepetOgeleri.Count)</span>
    </a>
</li>