/* style.css */

/* Sayfa body için margin ve padding sıfırlanıyor */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Sayfa yüksekliğini %100 yapmak için */
  display: flex;
  flex-direction: column; /* İçeriği ve footer'ı dikeyde hizalayacak */
}

/* Sayfa içeriği, sayfanın geri kalan kısmını alacak şekilde büyür */
.main-content {
  flex-grow: 1; /* İçeriğin büyümesini sağlar, footer'ı en alta iter */
}

/* Footer kısmı */
.footer {
  background-color: #000000;
  padding: 15px 0;
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
}

.footer > .container {
  padding: 0;
  margin: 0;
  color: white;
}
#product-price
{
    font-size: 27px;
    color: red;
}
.jumbotron
{
    background-image: url("../img/bg.jpg.jpg");
}